
.floating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

  }

  .floating-div {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: left; /* Align text to the left */
    max-width: 200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally on the page */
   border: 1px dotted var(--color-primary);
   border-radius: 3rem;
   background-color: var(--color-bg-variant);
   padding: 0.5rem;
  }
  .floating-div img {
    max-width: 20%;
    height: auto; /* Maintain image aspect ratio */
    margin-right: 10px; /* Add spacing between image and text */
  }
  .floating-div .content {
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 0;
  }

 .floating-div small {
    flex-grow: 1;
    margin-top: 10px;
  }

¿

  .floating-div.floating {
    transform: translateY(-50px); /* Adjust this value for desired vertical displacement */
  }

  /* Define styles for each category */
  .floating-div.web-development {
    position: absolute;
    bottom: 40%;
    right: 5%;
  }

  .floating-div.content-creation {
    position: absolute;
    bottom: 30%;
    left: 15%;
  }

  .floating-div.ux-design {

    position: absolute;
    top: 0;
    right: 0;
  }

  .floating-div.backend-development {

    position: absolute;
    top: 10%;
    left: 0;
  }
