.container__footer{
border-top: 1px solid var(--color-primary-variant);
padding: 2.5rem;
}
footer{
    /* background: linear-gradient( transparent, var(--color-primary)); */
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    margin-top: 5rem;

}

footer a{
    color: var(--color-primary);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__socials a{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.4rem;
    border-radius: 0.2rem;
    display: flex;
    border: 1px solid transparent;
}
.footer__socials a:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-white);
}

.me__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
    }

/* =================Media Queries=====================*/

@media screen and (max-width: 1024px){

        }
    
    @media screen and (max-width: 600px){
 .permalinks{
    flex-direction: column;
    gap: 1.5rem;
 }
 .footer__socials{
    margin-bottom: 1.5rem;
 }
 
    }